<!DOCTYPE html>
<html>
<head>
	<link href='http://localhost:4567/bootstrap/css/bootstrap.css' rel='stylesheet'>
	<style>
	.imgBox  { width:1000px; height:1000px; background-image:url('http://localhost:4567/double_heart1.jpg');}
	.imgText { text-align:center; margin:0; padding:25px 0 0 0; position:absolute; left:200px; top:250px; font-family: serif; font-style: italic; font-size: 500%}
	</style>
    <title>Love</title>
</head>
<body>
	<div class='imgBox'>
		<p class="imgText"><%= @name1 %> &amp <%= @name2 %> </p>
</div>
</body>
</html>


