<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Make it personal</title>

    <!-- Bootstrap core CSS -->
    <link href="http://localhost:4567/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
     <link href="http://localhost:4567/justified-nav.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Make it yours</h3>
        <ul class="nav navbar-nav nav-justified">
          <li class="active"><a href="http://localhost:4567">Home</a></li>
          <li><a href="http://localhost:4567">About</a></li>
          <li><a href="http://localhost:4567/love_and_hearts.html">Love</a></li>
          <li><a href="http://localhost:4567/children.html">Kids</a></li>
          <li><a href="http://localhost:4567">Ideas</a></li>
          <li><a href="http://localhost:4567">Contact</a></li>
        </ul>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Make it personal</h1>
        <p class="lead">Make your own personalised signs, cards and decorations! Use as print outs, templates to make plates or place cards.<p>
        <p><a class="btn btn-large btn-success" href="http://localhost:4567">Get started today</a></p>
      </div>


      <div class="body-content">

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-4">
            <h2>Love and hearts</h2>
            <p>These templates allow you to create customised heart patterns with names of your choice. Perfect for wedding decorations, place cards or just because...Consider using as templates to paint signs for directions or to decorate plates with. </p>
            <p><a class="btn btn-default" href="http://localhost:4567/love_and_hearts.html">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Kids</h2>
            <p>Ducks and pirate ships. All the cool stuff you need when you're small to make your mark. Make awesome door signs or place cards for birthday parties. </p>
            <p><a class="btn btn-default" href="http://localhost:4567/children.html">View details &raquo;</a></p>
         </div>
          <div class="col-lg-4">
            <h2>Decorations and other ideas</h2>
            <p>Flower place cards for a summer garden party? Or still looking for the "Mother's kitchen is the heart of the home" sign that used to hang in grandmom's kitchen? Create your own texts to use as templates and find simple decorations to go with them.</p>
            <p><a class="btn btn-default" href="http://localhost:4567/decorations.html">View details &raquo;</a></p>
          </div>
        </div>

      </div><!-- /.body-content -->

      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Merja Rossi 2013</p>
      </div>

    </div> <!-- /container -->

  </body>
</html>